<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">   <!-- You must add a <base href> element to the app's index.html for pushState routing to work-->
    
    <title>IU Alumni Association | Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">

    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
      System.import('alumni').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body >
    <alumni>Loading Page...</alumni>
  </body>
</html>